<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Timetable</title>
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/resources/css/navbar-fixed-top.css" rel="stylesheet"/>
    <link href="/resources/css/panel-container.css" rel="stylesheet"/>
</head>
<body >

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a href="#/teachers">Преподаватели</a></li>
            <li><a href="#/subjects">Предметы</a></li>
        </ul>
    </div>
</div>
<div class="body-content">
    <div class="container">
        <h5 class="help-block" ng-show="loading" >Загрузка станицы...</h5>
        <div ng-show="alert.msg" class="alert {{alert.type}} ">
            <a class="close" ng-click="alert.msg=''">&times;</a>
            {{alert.msg}}
        </div>
    </div>
    <div ng-view></div>
</div>

<script type="text/javascript" src="/resources/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="/resources/bower_components/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="/resources/bower_components/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="/resources/js/app.js"></script>
<script type="text/javascript" src="/resources/js/controllers.js"></script>
<script type="text/javascript" src="/resources/js/services.js"></script>
<script type="text/javascript" src="/resources/js/directives.js"></script>

</body>
</html>