<div class="row">
    <form ng-submit="vm.saveTeacher()">
        <div class="col-xs-2">
            <input class="form-control" ng-model="vm.selected.teacher.lastName" placeholder="Фамилия" required/>
        </div>
        <div class="col-xs-2">
            <input class="form-control" ng-model="vm.selected.teacher.firstName" placeholder="Имя" required/>
        </div>
        <div class="col-xs-2">
            <input class="form-control" ng-model="vm.selected.teacher.middleName" placeholder="Отчество" required/>
        </div>
        <button type="submit" class="btn btn-success btn-sm">Сохранить</button>
        <button type="reset" ng-click="vm.reset()" class="btn btn-danger btn-sm">Oтмена</button>
    </form>
</div>
