<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h4>{{vm.title}}</h4>
            <button class="btn btn-xs" ng-click="vm.add()">Добавить</button>
        </div>
    </div>
    <br>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th>№ п.п</th>
            <th>Наименование</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="subject in vm.subjects">
            <td>{{ $index + 1 }}</td>
            <td ng-hide="vm.isEditMode(subject)">{{ subject.name }}</td>
            <td ng-show="vm.isEditMode(subject)"><input ng-model="vm.editableSubject.name" class="form-control"/></td>
            <td>
                <button ng-hide="vm.isEditMode(subject)" class="btn btn-xs" ng-click="vm.edit(subject.id)">
                    Изменить
                </button>
                <button ng-show="vm.isEditMode(subject)" class="btn btn-sm btn-success" ng-click="vm.save()">
                    Сохранить
                </button>
                <button ng-hide="vm.isEditMode(subject)" class="btn btn-xs" ng-click="vm.remove(subject)">
                    Удалить
                </button>
                <button ng-show="vm.isEditMode(subject)" class="btn btn-sm btn-danger" ng-click="vm.reset()">
                    Отмена
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>