<div class="container">
    <div class="row container">
        <h4>{{vm.title}}</h4>
    </div>
    <div class="row container">
        <button class="btn btn-xs" ng-click="vm.addTeacher()">Добавить</button>
    </div>
    <div ng-show="vm.addMode">
        <br>
        <dir-form-edit-teacher/>
    </div>
    <br>
    <div class="panel panel-default" ng-repeat="teacher in vm.data.teachers | orderBy: ['lastName', 'firstName', 'middleName']">
        <div class="panel-heading">
            <div class="container-fluid panel-container" ng-hide="vm.isEditMode(teacher.id)">
                <div class="col-xs-10 text-left panel-container">
                    {{teacher.lastName}} {{teacher.firstName}} {{teacher.middleName}}
                </div>
                <div class="col-xs-2 text-right panel-container">
                    <button class="btn btn-xs" ng-click="vm.editTeacher(teacher.id)">Изменить</button>
                    <button class="btn btn-xs" ng-click="vm.removeTeacher(teacher)" title="Удалить">Х</button>
                </div>
            </div>
            <dir-form-edit-teacher ng-show="vm.isEditMode(teacher.id)"/>
        </div>
        <div class="panel-body">
            <button class="btn btn-default btn-sm" ng-click="vm.addSubject(teacher.id)">Назначить предмет</button>
        </div>

        <ul class="list-group">
            <li class=" list-group-item" ng-show="vm.isAddSubject(teacher.id)">
                <div class="row">
                    <form ng-submit="vm.saveSubject(teacher)">
                        <div class="col-xs-5">
                            <select class="form-control" ng-options="s as s.name for s in vm.data.subjects"
                                    ng-model="vm.selected.subject" required>
                                <option value='' disabled>-Выберите предмет-</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success btn-sm">Добавить</button>
                        <button type="reset" ng-click="vm.reset()" class="btn btn-danger btn-sm">Oтмена</button>
                    </form>
                </div>
            </li>
            <li class=" list-group-item" ng-repeat="subject in teacher.subjects">
                <button class="btn btn-xs" title="Удалить" ng-click="vm.removeSubject(teacher,subject)">X</button>
                <span class="list-group-item-text"> {{subject.name}}</span>
            </li>
        </ul>
    </div>
</div>
